<!-- <p>cover works!</p> -->

<div class="entirePage">

  <div class="navbar">
    <!-- <p class="leftTitle">
      SIRI
    </p> -->
    <button class="signUpButton">SIGN UP</button>
    <p class="rightContact">Contact</p>
  </div>

  <div class="mainContent">
    <p class="mainTitle">SIRI</p>

    <!-- <p class="tagLine">Catalysing The Transformation Of Manufacturing</p> -->

    <button class="getStartedButton">GET STARTED</button>
  </div>

  <!-- <div class="footer">
    <p>How SIRI works</p>
  </div> -->


</div>
