<!-- <tbody>
  <tr>
    <th class="blocks" rowspan="27" ><span>Technology</span></th>
    <td class="pillars" rowspan="9">AUTOMATION</td>
    <td class="dimensions" rowspan="3">Shop Floor Automation</td>
    <td colspan="6" class="dimensionDescription" ></td>
  </tr>
  <tr>
    <td colspan="6" class="bandValueDescription">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group" style="width: 100%;">

      </div>
     </div>
    </td>
  </tr>
  <tr>

  </tr>



  <tr>
    <td class="dimensions" rowspan="3">Enterprise Automation</td>
    <td colspan="6" class="dimensionDescription" ></td>
  </tr>
  <tr>
    <td colspan="6" class="bandValueDescription">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group" style="width: 100%;">

      </div>
     </div>
    </td>
  </tr>
  <tr>


  </tr>


  <tr>
    <td class="dimensions" rowspan="3">Facility Automation</td>
    <td colspan="6" class="dimensionDescription" ></td>
  </tr>
  <tr>
    <td colspan="6" class="bandValueDescription">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group" style="width: 100%;">

      </div>
     </div>
    </td>
  </tr>
  <tr>

  </tr>



  <tr>
    <td class="pillars" rowspan="9">CONNECTIVITY</td>
    <td class="dimensions" rowspan="3">Shop Floor Connectivity</td>
    <td colspan="6" class="dimensionDescription" ></td>
  </tr>
  <tr>
    <td colspan="6" class="bandValueDescription">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group" style="width: 100%;">

      </div>
     </div>
    </td>
  </tr>
  <tr>

  </tr>



  <tr>
    <td class="dimensions" rowspan="3">Enterprise Connectivity</td>
    <td colspan="6" class="dimensionDescription" ></td>
  </tr>
  <tr>
    <td colspan="6" class="bandValueDescription">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group" style="width: 100%;">

      </div>
     </div>
    </td>
  </tr>
  <tr>

  </tr>


  <tr>
    <td class="dimensions" rowspan="3">Facility Connectivity</td>
    <td colspan="6" class="dimensionDescription" ></td>
  </tr>
  <tr>
    <td colspan="6" class="bandValueDescription">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group" style="width: 100%;">

      </div>
     </div>
    </td>
  </tr>
  <tr>

  </tr>


  <tr>
    <td class="pillars" rowspan="9">INTELLIGENCE</td>
    <td class="dimensions" rowspan="3">Shop Floor Intelligence</td>
    <td colspan="6" class="dimensionDescription" ></td>
  </tr>
  <tr>
    <td colspan="6" class="bandValueDescription">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group" style="width: 100%;">

      </div>
     </div>
    </td>
  </tr>
  <tr>

  </tr>

  <tr>
    <td class="dimensions" rowspan="3">Enterprise Intelligence</td>
    <td colspan="6" class="dimensionDescription" ></td>
  </tr>
  <tr>
    <td colspan="6" class="bandValueDescription">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group" style="width: 100%;">

      </div>
     </div>
    </td>
  </tr>
  <tr>

  </tr>

  <tr>
    <td class="dimensions" rowspan="3">Facility Intelligence</td>
    <td colspan="6" class="dimensionDescription" ></td>
  </tr>
  <tr>
    <td colspan="6" class="bandValueDescription">
      <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group" style="width: 100%;">

      </div>
     </div>
    </td>
  </tr>
  <tr>

  </tr>


</tbody> -->


<p>Chart</p>

<div id="divChart">
  <canvas id="myChart"></canvas>
</div>
